@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.pointer {
  cursor: pointer;
}

hr {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: rgb(51, 51, 51);
}